@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto&display=swap');
body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   }
.flexStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageContainer{
    background-color: white;
    width: 100vw;
    height: 100vh;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #dbe8f6;
}
.container{
    height: 23rem;
    width: 15rem;
    background-color: white;
    border-radius: 15px; 
    margin:10px;
    padding-top: 13px;
    flex-direction: column;
}
.barCode{
    height: 18rem;
    width: 13rem;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}
.textContent{
    height: 10rem;
    width: 12rem;
    flex-direction: column;
    padding: 5px 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
h2{
    font-weight: 700;  
    font-size:1rem ;  
    line-height: 20px;
    
}
p{
    font-weight: 400;
    font-size: 0.7rem;
    color:#8A94A8;
   margin-top: 0px;
}
@media(max-width: 820px){
    .wrapper{
        height: 100vh;
        width: 100vw;
    }
  
   .container{
        min-height: 480px;
    min-width: 320px;
   }
   .barCode{
    min-height: 290px;
    min-width: 270px;
   }
   .textContent{
        min-width: 250px;
    min-height: 100px;
   }
   h2{
        font-size: 1.2rem;
    line-height: 25px;
   }
   p{
        font-size:1rem;
   }
}